/* Include modular CSS */
@import url('nav.css');
@import url('hero.css');
@import url('tray.css');

/* Hide scrollbar in WebKit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional: just makes scrollbar invisible */
}

/* Hide scrollbar in Firefox */
body {
  scrollbar-width: none; /* hides scrollbar */
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #b7b7b7; /* new site-wide background */
}

