/* Include modular CSS */
@import url('nav.css');
@import url('hero.css');
@import url('tray.css');

html, body {
  height: 100%;
  overflow: hidden;  /* disable page scroll */
  margin: 0;         /* remove default body margin */
}
