.tray {
  position: fixed;
  bottom: -100%; /* start off-screen */
  left: 0;
  width: 100%;
  height: 100vh; /* full screen height */
  background-color: #dce1e7;
  z-index: 500; /* below nav which is 1000 */
  transition: bottom 0.5s ease;
}

.tray-content {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
