.tray {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #dce1e7;
  z-index: 500; /* behind nav */
  padding: 2rem;
}

.tray-content {
  max-width: 800px;
  margin: 0 auto;
}
